{% extends 'base.html' %}

{%block content%}

<head>
    <title>О нас</title>
    <style>
        .all{
            margin: 5% 20% 7% 20%;
        }
    </style>
</head>

<div class="all">
    <h4 style="text-align: center">ОБЩЕЖИТИЕ:</h4>
    <br>
    <p>Университет располагает общежитием по адресу: ул. Союзная, дом 141. Общежитие было построено в 1978 году.
    В настоящее время в общежитии проживает около 500 студентов. Имеется комната для спортивных занятий, в которой
    установлены два тренажера, имеются гантели, гири. В холле на одном из этажей установлены 2 теннисных стола.
    Неподалеку от здания расположена спортплощадка с полем для футбола и волейбольными площадками. В комнатах
    проживающих есть доступ в интернет. Здание оборудовано средствами автоматического пожаротушения и видеонаблюдения.
    Проезд до здания студгородка осуществляется автобусом маршрута 22с от Красной Площади.</p>
    <p>Все возникающие вопросы можно адресовать Лисиной Марии Дмитриевне
        - помощнику проректора по работе с общежитиями, тел. (4852) 78-86-64.</p>
    <br>
    <h4 style="text-align: center">ФОРМА ЗАЯВЛЕНИЯ НА ОБЩЕЖИТИЕ:</h4>
    <br>
    <p style="text-align: center"><a href="https://www.uniyar.ac.ru/outdoor/students/dormitory/Заявление%20на%20общежитие%202023.docx">Заявление на общежитие</a></p>
    <br>
    <h4 style="text-align: center">ОБЩИЕ СВЕДЕНИЯ ОБ ОБЩЕЖИТИИ:</h4>
    <br>
    <p>Адрес - г. Ярославль, ул. Союзная, д. 141.</p>
    <p>Этажность здания – 9 этажей.</p>
    <p>Общая площадь – 6201 кв.м., жилая площадь – 2743,2 кв.м.</p>
    <p>Количество жилых помещений – 226. Количество койко-мест – 556.</p>
    <p>Принцип расселения – блочный. В одном блоке 4 комнаты (по две 2-местных и 3-местных), санузел, умывальник,
        имеется общий душ. На три блока – одна кухня с электрической плитой, мойкой и холодильником и мебелью,
        а также бытовая комната со стиральной машиной и сушилкой.</p>
    <p>Транспорт к центру города – автобус 22С от общежития до главного корпуса ЯрГУ.</p>
</div>

{% endblock %}
